@import "src/styles";
.form-login {
  margin: 80px auto;
  width: 700px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);

  &__title {
    @include font-montserrat;
    text-align: center;
    font-size: 26px;
    margin: 40px 0;
  }

  &__input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75%;
    margin: 20px auto;

    label {
      margin-left: 1px;
      font-size: 14px;
      @include font-montserrat;
    }

    input {
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 1px solid darkgrey;
      height: 40px;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;

      &::placeholder {
        font-family: 'Lato', sans-serif;
      }
    }

    &_validation {
      margin-top: 5px;

      small {
        color: red;
        font-size: 14px;
      }
    }
  }
}

.btn {
  border: none;
  outline: none;
  margin: 30px auto;
  padding: 15px 100px;
  border-radius: 20px;
  background: rgb(189, 211, 238);
  color: #3b3b3b;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 500;
  width: 400px;
  cursor: pointer;
  transition: .3s;

  &:disabled {
    background-color: #4f7170;
    cursor: not-allowed;
  }
}


.alert {
  text-align: center;
  color: red;
  margin: 20px auto;
}
