<div class="container">
  <div class="content">
    <div class="content__title">
      Привет друзья!
    </div>
    <div class="content__subtitle">
      Как вы знаете, с недавних пор все сотрудники компании Planktonics были переведены на
      самоизоляцию.
    </div>
    <div class="content__text">
      Директор, Василий Иванович, очень заботится о психическом здоровье и
      эффективности своих сотрудников, поэтому он попросил меня реализовать для них корпоративную сеть,
      чтобы помочь сотрудникам остаться в здравом рассудке и сохранить связь с командой!
      <p>
        Это первая версия приложения, в которой имеется 2 раздела:
      </p>
        <ul>
      <li><a routerLink="/work">Рабочий</a> для обсуждения деловых вопросов</li>
      <li><a routerLink="/spam">Обычный</a> просто для флуда и общения.</li>
    </ul>

    </div>
  </div>
</div>
